apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: go-ygtnxetk
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/go-ygtnxetk:16df881444d8e396f2f1deb494ec7adf20d4b4ee@sha256:72494a36640ff2f2d4b1459b4ebae6567a66a3a8e357c49af51be814ba1a6ee9
          name: container-image
